body {
    text-align: center;
    background-color: #B0E0E6;
    font-family:  "Helvetica Neue", Helvetica, Arial;
}

.quadrado {
    text-align: center;
    width: 50px;
    background-color: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
    border-radius: 6px;
    border: 1px solid #7B68EE;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}